@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');

/* Nustatymai visam tinklalapiui */
* {
  font-family: 'Montserrat', arial;
  box-sizing: border-box;
}

body {
  background-color: #fffdf7;
}

.dark-mode {
  background-color: #454c52;
  color: white;
}

/* Pagrindinio puslapio nustatymai*/
#titulinisfoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.kontekstas p {
  margin-left: 12%;
  margin-right: 12%;
  letter-spacing: 0.5px;
  line-height: 1.2;
  word-spacing: 2px;
}

/* header, footer ir logotipo nustatymai */
#logo {
  width: 15%;
  margin: 40 auto;

}

#header {
  font-size: 20px;
  text-align: center;
  margin-top: 0px;
}

footer {
  clear: both;
  margin-top: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  position: relative;
}

/* Pagrindiniu dvieju skilciu nustatymai */
#container {
  width: 960px;
  margin: 0px auto;
}

#left-column {
  width: 700px;
  padding-right: 3px;
  padding-left: 3px;
  float: left;
}

#right-column {
  width: 260px;
  float: left;
  padding-right: 3px;
  padding-left: 3px;
}

/* Menu nustatymai */

.menu li {
  display: inline-block;
}

.menu a {
  color: black;
  display: block;
  width: 100px;
  padding: 5px auto;
}

a:link, a:visited {
  color: black;
  text-align: center;
  text-decoration: none;
}

a:hover, a#active {
  color: silver;
}

/* Galerijos nustatymai */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.columngal {
  flex: 50%;
  max-width: 100%;
  padding: 0 4px;
}

.columngal img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/*Lentele*/
table, th, td {
  border: 1px solid silver;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
}

#upes {
  background-color: silver;
}

/*Straipsnio nustatymai*/
#StraipsnioPavadinimas {
  text-align: left;
  font-size: 30px;
  font-style: bold;
  margin-top: 0px;
}

.img2 {
  display: block;
  margin-left: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: auto;
  width: 80%;
}

#tekstas {
  margin-bottom: 100px;
  margin-left: 0px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  word-spacing: 2px;
}

#tekstas {
  color: black;
}

/*Anketos nustatymai*/
.container {
  padding: 20px;
  border-radius: 5px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

button[type=submit] {
  background-color: #ccc;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.nuot1 {
  width: 80%;
}

/* Tinklalapio luziu nustatymai */
@media screen and (max-width:959px) {
  #container {
    width: 100%;
  }

  #left-column {
    width: 70%;
  }

  #right-column {
    width: 30%;
  }

  .img1 {
    width: 80%;
  }
}

@media screen and (max-width: 640px) {
  #container {
    width: 100%;
  }

  #left-column {
    width: 100%;
  }

  #right-column {
    width: 100%;
    display: inline-grid;
    justify-content: center;
  }

  #logo {
    width: 25%;
  }

  .menu {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  .menu li {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .menu a {
    float: none;
    position: relative;
    top: 0;
    margin: 0 auto;
    text-align: center;
    left: 0;
    transform: none;
  }

  #titulinisfoto {
    width: 100%;
  }

  /* Galerija */
  .row {
    justify-content: center;
  }

  .columngal {
    flex: 90%;
  }
}

@media screen and (max-width: 320px) {
  #container {
    width: 320px;
  }

  .menu {
    margin: 0 auto;
  }
}
